<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kang's Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
        <div>
            <h1><a href="">Mongdolappa blog</a></h1>
        </div>

{% for post in posts %}
    <div>
        <h3><a href="">{{ post.title }}</a></h3>
        <p>published: {{ post.created_date}}</p>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

</body>
</html>